.selected-content > div,
.dropdown-category,
.show-form-btn,
.form {
  display: none; }

.is-hidden, :disabled {
  display: none !important; }

.is-visible {
  display: block !important; }

.p-1 {
  padding: 1rem; }

.m-b-1 {
  margin-bottom: 1rem; }
