#category,
#selected-content,
.form-select {
  display: none;
}

div.toggle-content {
  display: none;
}

option:selected{
  display: block;
}

.is-visible{
  display: block !important;
}
.is-hidden{
  display: none !important;
}